/* Master Styles */
h1 {
  color: #369; 
  font-family: Arial, Helvetica, sans-serif;   
  font-size: 250%;
}
h2, h3 { 
  color: #444;
  font-family: Arial, Helvetica, sans-serif;   
  font-weight: lighter;
}
body, input[text], button { 
  color: #888; 
  font-family: Cambria, Georgia; 
}
a {
  cursor: pointer;
  cursor: hand;
}
button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #aaa; 
  cursor: auto;
}

/* Navigation link styles */
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.router-link-active {
  color: #039be5;
}

/* items class */
.items {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 24em;
}
.items li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.items li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.items li.selected:hover {
  background-color: #BBD8DC;
  color: white;
}
.items .text {
  position: relative;
  top: -3px;
}
.items {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 24em;
}
.items li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.items li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.items li.selected {
  background-color: #CFD8DC;
  color: white;
}

.items li.selected:hover {
  background-color: #BBD8DC;
}
.items .text {
  position: relative;
  top: -3px;
}
.items .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

body {
  /*min-width: 600px;*/
  /*overflow-x: scroll;*/
  color:white;
  font-style: 12px;
  cursor: default;
  font-family: 'Oleo Script', cursive;
}
.wed-container{
  /*min-width:600px;*/
  overflow-x: scroll;
}
.top-navbar{
  height: 60px;
  z-index: 2;
  position: relative;
  top: -25vh;
  background-color: transparent;
  width: 100%;
  padding: 0 20px;
}
.top-navbar .nav-options{
  width: 100%;
  text-align: center;
}
 .top-navbar .nav-options a {
  color:white;
  font-size: 1.5em;
  padding: 5px 15px;
  margin-right: 5px;
  border-radius: 2px;
  border: 1px outset white;
  }
  .top-navbar .nav-options a:hover{
    text-decoration: none;
    background-color: white;
    color:black;
  }
    .top-navbar .nav-options a:active, .top-navbar .nav-options a:focus {
    text-decoration: none;
  }
.top-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow-y: hidden; 
  height: 100vh;
  /*min-width: 800px;*/
  background-size:cover;
  background-position: center;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/EdgeWalk-41.jpg');
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/EdgeWalk-41.jpg');
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url('../images/EdgeWalk-41.jpg');
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/EdgeWalk-41.jpg');
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url('../images/EdgeWalk-41.jpg');
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/EdgeWalk-41.jpg');
}

.top-container .title1{
  font-size: 2.5em;
  font-weight: 700;
  text-transform: uppercase;
}
.top-container .title2{
  font-size: 2.5em;
}
.top-container .title3{
   font-size: 2.5em;
   padding-top: 50px;
}
.info-container{
  height: 100vh;
  /*min-width: 800px;*/
  background-color: white;
  display: flex;
  text-align: left;
  color:black;
  align-items: center;
  padding: 0 25px;
}
img{
  border-radius: 2px;
}
.title {
  font-size: 2.5em;
}
.content {
   font-size: 1.5em;
   padding-top:15px;
}
.content2 {
   font-size: 1.5em;
   padding-top:0px;
}
.bot-pad{
  padding-bottom: 20px;
}
.venue-container{
  height: 100vh;
  /*min-width: 800px;*/
  background-color: #FFDC64;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color:black;
  padding: 0 25px;
}
.smaller-font {
   font-size: 1.5em !important;
}
.purple {
  color: purple !important;
}
.center{
  text-align: center;
}
.pad-top{
  padding-top: 25px;
}
.venue-container img {
  min-height: 200px;
}
.booking-container{
  height: 100vh;
  /*min-width: 800px;*/
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 25px;
  text-align: center;
}
.misc-container{
  height: 100vh;
  /*min-width: 800px;*/
  background-color: #1264BF;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 0 25px;
}
.misc-container a{
  color:black;
}
.misc-container .content {
  padding-bottom: 20px;
}
.fa-play-circle{
  cursor: pointer;
  position: absolute;
}
.viewHeight{
  height: 100vh;
}

@media (max-width: 600px) {
  .misc-container, .top-container, .booking-container, .venue-container, .info-container{
    height: 100% !important;
    padding: 15px;
    text-align: center;
  }
  body{
    font-size: 8px;
  }
}